<%= form_for @event, html: {role: 'form'} do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title , class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body , class: 'form-control','data-provide': "markdown" %>
  </div>

  <div class="form-group">
    <%= f.label :start_date  %>
    <%= f.date_field :start_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :end_date  %>
    <%= f.date_field :end_date, class: 'form-control' %>
  </div>

  <%= f.submit 'Save', class: 'btn btn-default' %>
<% end %>