<%= form_for [@event, @post], url: { action: 'update'}, html: {role: 'form'} do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id if user_signed_in? %>
  
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control','data-provide': "markdown" %>
  </div>

  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>